---
import { Image } from 'astro:assets';

type REVIEW = {
	id: number;
	name: string;
	platform: string;
	text: string;
	date: string;
};

const REVIEWS_LIST: REVIEW[] = [
	{
		id: 1,
		name: 'aatanat',
		platform: 'app-store',
		text: 'I was looking for an app to help me plan different areas of my life: studies, relationships, hobbies. I like that <span class="text-accent-orange">the app syncs with my laptop and phone, and that it\'s intuitive - I quickly figured it out</span> and wrote down all my tasks, and then just looked at it and marked what I needed to do during the day.',
		date: 'April 17, 2025',
	},
	{
		id: 2,
		name: 'komarov-d-v',
		platform: 'app-store',
		text: '<span class="text-accent-orange">Very easy and convenient to use. It saves a lot of time, makes it comfortable to plan working hours!</span> The reminders about scheduled events are just GREAT, no need to worry that you will forget something!',
		date: 'April 9, 2025',
	},
	{
		id: 3,
		name: 'Ilsur Shaidullin',
		platform: 'google-play',
		text: 'Seven years ago I was looking for a good task planner, found Leadertask, started using it, everything was great. But because the sysadmin refused to install it on my work PC, I had to stop using it with regret. I changed company and was surprised when at the beginning of this year, looking for a good planner, I realized that Leadertask stayed among my favorites. <span class="text-accent-orange">The main plus for me is usability, everything is intuitive. I recommend it.</span>',
		date: 'May 8, 2025',
	},
	{
		id: 4,
		name: 'Ildar Sul',
		platform: 'google-play',
		text: 'Very convenient app. I bought the premium version, <span class="text-accent-orange">synchronization works, tasks get done.</span> Overall everything is great.',
		date: 'September 6, 2025',
	},
	{
		id: 5,
		name: 'Nina Artamonova',
		platform: 'google-play',
		text: 'This is a very convenient and functional app. All tasks and plans are in one place. You can create tasks and build a schedule at any time, whether you\'re on the go with your phone or using your computer. <span class="text-accent-orange">Everything syncs, and reminders pop up, the interface is convenient and clear.</span>',
		date: 'July 4, 2025',
	},
	{
		id: 6,
		name: 'Two Kik',
		platform: 'app-store',
		text: 'If I could only keep one app on my phone, it would be LeaderTask without a doubt. Thank you to the developers <span class="text-accent-orange">for improving the program and providing timely updates and fixes.</span> I use it every day and am delighted by what our developers are capable of creating! ❤️',
		date: 'June 11, 2025',
	},
];
---

<div class="swiper-container overflow-hidden w-full lg:hidden pb-10">
	<div class="swiper-wrapper">
		{
			REVIEWS_LIST.map((testimonial) => (
				<div class="swiper-slide px-5 grid grid-rows-a1a w-full py-4 bg-white shadow-card rounded-5 gap-3">
					<div class="flex justify-between items-center">
						<span class="text-[20px] leading-6 font-medium text-primary">{testimonial.name}</span>
						<Image
							src={`/${testimonial.platform}_logo.webp`}
							alt={`${testimonial.platform} logo`}
							width={32}
							height={32}
							class="w-8 h-8"
						/>
					</div>
					<p
						class="text-secondary font-semibold"
						set:html={testimonial.text}
					/>
					<span class="text-tertiary text-[14px] leading-6">{testimonial.date}</span>
				</div>
			))
		}
	</div>
</div>

<style>
	.swiper-slide {
		height: auto;
	}
</style>
