---
import { Image } from 'astro:assets';
import AppButton from '@/shared/ui/AppButton/AppButton.astro';
import { getLinkToGetStarted } from '@/shared/helpers';
import ThousandsSwiper from './ThousandsSwiper.astro';

type REVIEW = {
	id: number;
	name: string;
	platform: string;
	text: string;
	date: string;
};

const REVIEWS_LIST: REVIEW[] = [
	{
		id: 1,
		name: 'aatanat',
		platform: 'app-store',
		text: 'Искал приложение, чтобы планировать разные сферы жизни: учёбу, отношения, хобби. Нравится, что <span class="text-accent-orange">приложение синхронизируется с ноутбуком и телефоном, оно интуитивно понятное — быстро разобрался и записал все задачи</span>, затем просто смотрю и отмечаю, что нужно сделать за день.',
		date: '17 апреля 2025',
	},
	{
		id: 2,
		name: 'komarov-d-v',
		platform: 'app-store',
		text: '<span class="text-accent-orange">Очень легко и удобно пользоваться. Экономит много времени, комфортно планировать рабочие часы!</span> Напоминания о запланированных событиях просто ОТЛИЧНЫЕ, можно не переживать, что что-то забудешь!',
		date: '9 апреля 2025',
	},
	{
		id: 3,
		name: 'Ilsur Shaidullin',
		platform: 'google-play',
		text: 'Семь лет назад искал хороший планировщик задач, нашёл Leadertask, начал пользоваться — всё было отлично. Но админ отказался ставить его на рабочий ПК, пришлось с сожалением отказаться. Сменил компанию и удивился, когда в начале этого года, снова ища планировщик, увидел, что Leadertask остался в избранном. <span class="text-accent-orange">Главный плюс для меня — удобство, всё интуитивно. Рекомендую.</span>',
		date: '8 мая 2025',
	},
	{
		id: 4,
		name: 'Ildar Sul',
		platform: 'google-play',
		text: 'Очень удобное приложение. Купил премиум, <span class="text-accent-orange">синхронизация работает, задачи закрываются.</span> В целом всё отлично.',
		date: '6 сентября 2025',
	},
	{
		id: 5,
		name: 'Nina Artamonova',
		platform: 'google-play',
		text: 'Очень удобное и функциональное приложение. Все задачи и планы в одном месте. Можно создавать задачи и строить расписание в любой момент — с телефона или с компьютера. <span class="text-accent-orange">Всё синхронизируется, приходят напоминания, интерфейс удобный и понятный.</span>',
		date: '4 июля 2025',
	},
	{
		id: 6,
		name: 'Two Kik',
		platform: 'app-store',
		text: 'Если бы на телефоне можно было оставить только одно приложение, без сомнений это был бы LeaderTask. Спасибо разработчикам <span class="text-accent-orange">за улучшения программы и своевременные обновления и исправления.</span> Пользуюсь каждый день и в восторге от того, что наши разработчики умеют создавать! ❤️',
		date: '11 июня 2025',
	},
];

const REVIEWS_COLUMNS: REVIEW[][] = [REVIEWS_LIST.slice(0, 2), REVIEWS_LIST.slice(2, 4), REVIEWS_LIST.slice(4, 6)];

const initialDevice: 'web' | 'android' | 'ios' = 'web';
const initialGetStartedLink = getLinkToGetStarted(initialDevice);
---

<section class="section-top-indent grid lg:gap-15">
	<h3 class="text-[24px] leading-7 lg:text-[44px] pb-10 lg:pb-0 lg:leading-10 font-bold text-center text-primary">
		Отзывы о нас
	</h3>
	<div class="grid-cols-3 hidden lg:grid gap-8">
		{
			REVIEWS_COLUMNS.map((column) => (
				<div class="flex w-full flex-col gap-8">
					{column.map((testimonial) => (
						<div class="py-5 px-6 bg-white shadow-card rounded-5 flex flex-col gap-3">
							<div class="flex justify-between">
								<span class="text-[20px] leading-6 font-medium text-primary">{testimonial.name}</span>
								<Image
									src={`/${testimonial.platform}_logo.webp`}
									alt={`${testimonial.platform} logo`}
									width={32}
									height={32}
									class="w-8 h-8"
									loading="lazy"
								/>
							</div>
							<p
								class="text-secondary font-semibold"
								set:html={testimonial.text}
							/>
							<span class="text-tertiary text-[14px] leading-6">{testimonial.date}</span>
						</div>
					))}
				</div>
			))
		}
	</div>
	<ThousandsSwiper />
	<AppButton
		id="thousands-get-started-button"
		size="lg"
		clickEffect={true}
		customClass="w-max mx-auto"
		href={initialGetStartedLink}
	>
		Начать бесплатно
	</AppButton>
</section>
