---
import { Image } from 'astro:assets';
import GradientTextElem from '@/shared/ui/GradientTextElem/GradientTextElem.astro';
import AppButton from '@/shared/ui/AppButton/AppButton.astro';
import { getImageDimensions } from '@/shared';

const imagesDimensions = {
	heroDescktop: await getImageDimensions('/features-hero.webp'),
	heroMobile: await getImageDimensions('/features-hero_mobile.webp'),
};
---

<section>
	<div class="pt-15 md:pt-20 xl:pt-30 flex flex-col items-center gap-8 md:gap-10 xl:gap-15">
		<div class="flex flex-col items-center gap-5 md:gap-8 lg:gap-10 text-center">
			<h1 class="text-[32px] lg:text-[72px] leading-10 lg:leading-20 max-w-243 font-bold text-primary">
				<GradientTextElem>Управляйте</GradientTextElem>
				задачами.
				<br class="lg:hidden" />
				<GradientTextElem>Достигайте</GradientTextElem>
				целей
			</h1>
			<p class="text-[16px] md:text-[20px] lg:text-[28px] leading-6 md:leading-8 lg:leading-10 text-secondary max-w-200">
				Организуйте личные и командные задачи в одном приложении. Уверенно управляйте рабочими процессами и двигайтесь к
				результатам.
			</p>
		</div>
		<AppButton
			customClass="w-max"
			size="lg"
			clickEffect={true}
			href="#"
			id="get-started-button-2"
		>
			Начать бесплатно
		</AppButton>
		<div class="relative w-full h-87.5 xl:h-170 xl:max-w-320">
			<Image
				src="/features-hero.webp"
				alt="features hero"
				width={imagesDimensions.heroDescktop.width}
				height={imagesDimensions.heroDescktop.height}
				class="w-full h-full object-cover hidden lg:block"
			/>
			<Image
				src="/features-hero_mobile.webp"
				alt="features hero"
				width={imagesDimensions.heroMobile.width}
				height={imagesDimensions.heroMobile.height}
				class="w-full h-full object-contain lg:hidden"
			/>
		</div>
	</div>
</section>
