---
import { Image } from 'astro:assets';
import { getImageDimensions } from '@/shared';

interface Props {
	question: string;
	answer: string;
	userName?: string;
	userAvatar?: string;
}

const { question, answer, userName, userAvatar } = Astro.props;
const avatarDimensions =
	userAvatar && userAvatar.startsWith('/') ? await getImageDimensions(userAvatar) : { width: 32, height: 32 };
---

<details
	class="mb-2 group"
	itemscope
	itemprop="mainEntity"
	itemtype="https://schema.org/Question"
>
	<summary
		class="flex items-center justify-between px-4 py-5 bg-orange-light rounded-xl text-base font-semibold text-[#383838] leading-[22.4px] mb-2 hover:bg-[#fcdab1] transition-all duration-300 cursor-pointer list-none"
		itemprop="name"
	>
		<div class="heading-text">{question}</div>
		<div class="arrow-right cursor-pointer transition-transform duration-300">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				viewBox="0 0 20 20"
				fill="none"
			>
				<path
					d="M5 7.5L10 12.5L15 7.5"
					stroke="#383838"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
				</path>
			</svg>
		</div>
	</summary>
	<div
		class="block rounded-xl border px-4 py-5 border-gray-light-3"
		itemscope
		itemprop="acceptedAnswer"
		itemtype="https://schema.org/Answer"
	>
		<div
			class="relative"
			itemprop="text"
		>
			<div class="arrow-right rotate-180 absolute top-0 right-0 cursor-pointer">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					viewBox="0 0 20 20"
					fill="none"
				>
					<path
						class="stroke-orange"
						d="M5 7.5L10 12.5L15 7.5"
						stroke="#383838"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
					</path>
				</svg>
			</div>
			{
				userName && (
					<div class="name_user_question flex mb-3.5 items-center">
						{userAvatar && (
							<div class="img w-8 h-8 rounded-md mr-2.5">
								<Image
									alt={userName}
									loading="lazy"
									width={avatarDimensions.width}
									height={avatarDimensions.height}
									decoding="async"
									class="rounded-md m-0!"
									src={userAvatar}
								/>
							</div>
						)}
						<strong class="text-sm font-semibold">{userName}</strong>
					</div>
				)
			}
			<div class="text-base text-[#383838] font-normal">
				<p class="m-0!">{answer}</p>
			</div>
		</div>
	</div>
</details>
