---
interface Props {
	name: string;
	placeholder: string;
	modelValue: string;
}

const { name, placeholder, modelValue } = Astro.props;
const fieldId = `search-field-${Math.random().toString(36).substr(2, 9)}`;
---

<label
	form={name}
	class="px-3 pt-2 pb-3 bg-white border border-tertiary-alpha hover:border-tertiary transition-all duration-200 rounded-2 flex items-center gap-2"
>
	<svg
		class="w-5 h-5 text-tertiary"
		aria-hidden="true"
	>
		<use href="/icons/all-icons.svg#icon-icon-search"></use>
	</svg>
	<input
		id={fieldId}
		type="text"
		name={name}
		placeholder={placeholder}
		value={modelValue}
		class="w-full outline-none min-h-7.5 focus:outline-none placeholder:text-tertiary text-primary caret-primary"
	/>
	<button
		type="button"
		id={`${fieldId}-clear`}
		class="cursor-pointer transition-opacity duration-200 opacity-0 pointer-events-none"
		aria-label="Очистить поле поиска"
	>
		<svg
			class="w-5 h-5 text-tertiary"
			aria-hidden="true"
		>
			<use href="/icons/all-icons.svg#icon-cross"></use>
		</svg>
	</button>
</label>
