---
import { Image } from 'astro:assets';
import GradientTextElem from '@/shared/ui/GradientTextElem/GradientTextElem.astro';
import { getImageDimensions } from '@/shared';

const teamWorkItems = [
	{
		id: 1,
		image: 'team-work-1.webp',
		title: 'Назначения и права доступа',
		description: 'Делегируйте задачи коллегам, устанавливайте сроки и отслеживайте прогресс.',
	},
	{
		id: 2,
		image: 'team-work-2.webp',
		title: 'Командные проекты',
		description: 'Сотрудничайте над общими проектами, обменивайтесь комментариями и работайте с файлами вместе.',
	},
	{
		id: 3,
		image: 'team-work-3.webp',
		title: 'Общие доски',
		description: 'Делитесь Kanban-досками, чтобы ваша команда или клиенты всегда видели общую картину в реальном времени.',
	},
	{
		id: 4,
		image: 'team-work-4.webp',
		title: 'Уведомления',
		description: 'Получайте обновления о новых задачах, изменениях и назначениях — всегда будьте в курсе.',
	},
	{
		id: 5,
		image: 'team-work-5.webp',
		title: 'Роли и контроль доступа',
		description: 'Устанавливайте гибкие права доступа и организуйте команды для более эффективного управления.',
	},
	{
		id: 6,
		image: 'team-work-6.webp',
		title: 'Публичные доски',
		description: 'Делитесь досками с внешними партнерами для согласования планов и эффективного сбора обратной связи.',
	},
];

const teamWorkImagesDimensions = await Promise.all(
	teamWorkItems.map(async (item) => ({
		image: item.image,
		dimensions: await getImageDimensions(`/${item.image}`),
	}))
);
const getTeamWorkImageDim = (imageName: string) =>
	teamWorkImagesDimensions.find(
		(img: { image: string; dimensions: { width: number; height: number } }) => img.image === imageName
	)?.dimensions || { width: 800, height: 600 };
---

<section class="flex flex-col gap-8 md:gap-10 xl:gap-15 items-center pt-15 md:pt-20 xl:pt-30">
	<h3
		class="text-[24px] md:text-[32px] lg:text-[38px] xl:text-[44px] leading-8 md:leading-10 lg:leading-12 xl:leading-14 font-bold text-primary text-center"
	>
		<span class="md:hidden">Определяйте приоритеты и поддерживайте <br /> <GradientTextElem>порядок</GradientTextElem></span>
		<span class="hidden md:block">
			<GradientTextElem>Сотрудничайте</GradientTextElem>
			со своей
			<GradientTextElem>командой</GradientTextElem>
		</span>
	</h3>
	<div class="w-full flex justify-center items-start flex-wrap gap-4 md:gap-6 lg:gap-8">
		{
			teamWorkItems.map((item) => (
				<div class="w-full lg:max-w-104">
					<Image
						src={`/${item.image}`}
						alt={item.title}
						width={getTeamWorkImageDim(item.image).width}
						height={getTeamWorkImageDim(item.image).height}
						class="w-full h-auto max-h-50 object-top md:max-h-70 lg:max-w-104 object-cover rounded-2.5 md:rounded-3 lg:rounded-4"
						loading="lazy"
					/>
					<h4 class="text-[18px] md:text-[22px] lg:text-[24px] leading-7 md:leading-8 lg:leading-9 font-bold text-primary mt-4 md:mt-5 lg:mt-6 mb-2 md:mb-2.5 lg:mb-3">
						{item.title}
					</h4>
					<p class="text-[16px] md:text-[18px] lg:text-[20px] leading-6 lg:leading-7 text-secondary">
						{item.description}
					</p>
				</div>
			))
		}
	</div>
</section>
